# Creating new DataFrames for the Database

## Import the necessary libraries

In [1]:
import pandas as pd

## Create the new DataFrame "nutri_core"

In [2]:
nutri_score = {
    'nutri_score_id': ['A', 'B', 'C', 'D', 'E'],
    'nutri_score_num': [1, 2, 3, 4, 5],
    'description': ['Very Healthy', 'Healthy', 'Average', 'Unhealthy', 'Very Unhealthy']
}

nutri_score = pd.DataFrame(nutri_score)

In [3]:
nutri_score

  nutri_score_id  nutri_score_num     description
0              A                1    Very Healthy
1              B                2         Healthy
2              C                3         Average
3              D                4       Unhealthy
4              E                5  Very Unhealthy

## Create the new DataFrame "nova_score"

In [4]:
nova_score = {
    'nova_score_num': [4, 3, 2, 1],
    'description': ['Ultra-processed foods', 'Processed foods', 'Processed culinary ingredients', 'Unprocessed or minimally processed foods']
}

nova_score = pd.DataFrame(nova_score)

nova_score

   nova_score_num                               description
0               4                     Ultra-processed foods
1               3                           Processed foods
2               2            Processed culinary ingredients
3               1  Unprocessed or minimally processed foods

## Create the new DataFrame "eco_score"

In [5]:
eco_score = {
    'eco_score_id': ['A', 'B', 'C', 'D',"E"],
    'eco_score_num': [1, 2, 3, 4, 5],
    'description': ["weak environmental impact", "moderate environmental impact", "average environmental impact", "strong environmental impact", "very strong environmental impact"]
}

eco_score = pd.DataFrame(eco_score)

eco_score

  eco_score_id  eco_score_num                       description
0            A              1         weak environmental impact
1            B              2     moderate environmental impact
2            C              3      average environmental impact
3            D              4       strong environmental impact
4            E              5  very strong environmental impact

## Export the tables as .csv

In [6]:
#nutri_score.to_csv("/Users/david/Desktop/IronHack/Projects/food_advisor/cleaned/nutri_score.csv", index=False)
#eco_score.to_csv("/Users/david/Desktop/IronHack/Projects/food_advisor/cleaned/eco_score.csv", index=False)
#nova_score.to_csv("/Users/david/Desktop/IronHack/Projects/food_advisor/cleaned/nova_score.csv", index=False)